<%- include(`../partials/root/head`) %>
<%- include(`../partials/root/head-end`) %>

<%- include(`../partials/root/header`) %>
<main>
   
 

    <main class="grid">
      <article>
          <a href="./morningteerresult?page=1&limit=30">
        <img src="/images/morningresultnew.jpg" alt="Sample photo" >
      </a>
    </article>
    <article>
      <a href="./noonteerresult?page=1&limit=30">
    <img src="/images/afternoonresults.jpg" alt="Sample photo" >
  </a>
</article>
<article>
  <a href="./eveningteerresult?page=1&limit=30">
<img src="/images/eveningresultnew.jpg" alt="Sample photo" >
</a>
</article>
    </main>
              

            
        
      
   
  </section>

  
</main>

<%- include(`../partials/root/elements/projectCard`) %>

<%- include(`../partials/root/footer`) %>

<%- include(`../partials/root/end`) %>